<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>DUMP DATA</h1>
        <p><%= value %></p>
        <div>
            <% for (var x = 1; x <= value; x++) { %>
                <p><%= result[x]; %></p>
            <% } %>
        </div>
    </body>
</html>