<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>SAVE RANDOM FLOAT DATA HERE</h1>
        <form method="POST" action="/update">
            <input type="text" name="api_key" placeholder="Any API keys here" required>
            <input type="text" name="field1" placeholder="Any float here" required>
            <input type="submit" value="Save!">
        </form>
    </body>
</html>